#banner{

    text-align: center;
  
    background-image: url("https://unsplash.it/1300/600?random");
  
    background-size: cover;
  
    padding: 150px;
  
    color: white;
  
    text-shadow: 1px 1px 5px black;
  
  }
  
  #banner h1 {
  
    color: white;
  
    font-size: 50px;
  
  }
  
  #banner p {
  
    color: white;
  
    opacity: 0.8;
  
    font-size: 30px;
  
    font-weight: lighter;
  
  }


* {
    box-sizing: border-box
}

body {
    font-family: Verdana, sans-serif;
    margin: 0
}

.mySlides {
    display: none
}

img {
    vertical-align: middle;
    
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    
    
}


.text {
    color: #ffffff;
    font-size: 100px;
    padding: 400px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    text-shadow: 1px 1px 5px black;

}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@media only screen and (max-width: 300px) {

    
    .text {
        font-size: 11px
    }
}

.fondo{
    background: rgb(128, 128, 128);
}
  
  #footer{
  
    padding: 10px;
  
    background: rgb(30, 30, 30);
  
    color: lightgrey;
  
  }
  
  #footer a {

    color: lightgrey;
  
  
  }
  
  #footer a:hover {
  
    color: white;
  
  }
  
  .tarjeta{
  
    padding: 50px;
  
    font-weight: lighter;
  
  }
li{
    display: inline-block;
}

.fila2{
    padding: 0 0 0 100px;
    font-size: 20px;
}

.fila1{
    font-size: 20px;
}

.fila3{
    padding-left: 1100px;
    
}



